option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
    PORT: 8181
    product: "https://yjktumlqrl.execute-api.eu-central-1.amazonaws.com/dev/products"
    cart: "http://selub-cart-api.eu-central-1.elasticbeanstalk.com/api/profile/cart"